<!DOCTYPE html>
<html>
    <head>
        <title>Best Trade - Home</title>
    </head>
    <body>
        <div>
            <h1>Welcome to Best Trade - Your favorite trading platform</h1>
        </div>
        <div>
            <nav>
                <ul>
                    <li><a href="/ui/home">Home</a></li>
                    <li><a href="/ui/about">About</a></li>
                    <li><a href="/ui/investors">Investors</a></li>
                </ul>
            </nav>
        </div>
    </body>
</html>